<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <!-- Hide logback own logs -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <!-- Format the log output -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%yellow(%d{HH:mm:ss}) %highlight(%-3level) %cyan(%logger{36}) %magenta(%msg%n)
            </pattern>
        </encoder>
    </appender>

    <!-- Set the application log level to INFO -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Set log level of Hibernate to WARN level -->
    <logger name="org.hibernate">
        <level value="WARN"/>
    </logger>
    <logger name="org.hibernate.cfg.AnnotationBinder" >
    	<level value="ERROR"/>
    </logger>
    <logger name="org.hibernate.orm.connections.pooling">
    	<level value="ERROR"/>
    </logger>
    <!-- <logger name="org.springframework.boot">
    	<level value="OFF"/>
    </logger> -->
    <logger name="org.springframework.boot" level="OFF" />
	<logger name="org.springframework" level="OFF" />
    

</configuration>